.App {
	text-align: center;
	min-height: 100vh;
	padding: 20px 0;
}

.App-title {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 25px;
}

.App-btn {
	margin-top: 20px;
	padding: 5px 10px;
}

canvas {
	border-radius: 10px;
}
